.example {
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding-bottom: 1em;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    max-width: 350px; 
 margin: 50px 50px;
}


.search-input {
    box-sizing: border-box;
    color: #222;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.button {
    box-sizing: border-box;
    overflow: visible;
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    float: left;
    width: 20%;
    padding: 10px;
    background: #00688B;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    height: 43px;
    cursor: pointer;
}



.bio-list {

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    margin: 0 auto 40px;
    padding: 0 20px;
    padding-top: 40px;
    
    max-width: 1000px;
}

.alist {

    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 20px;
}

.data-name {

    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 0 30px 10px 60px;
    position: relative;
    width: 100%;
}

.list-a {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background-color: transparent;
    color: rgb(2, 139, 255);
    outline: 0;
}

.thumb {
    list-style: none;
    color: rgb(2, 139, 255);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.img-thumb {
    list-style: none;
    color: rgb(2, 139, 255);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    border: 0;
    border-style: none;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.h3-thumb {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #555;
}

.h2-thumb {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    color: #333;
    letter-spacing: normal;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
}

.dnd {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


@media screen and (width > 550px) {
    .show{
        width: 100%;
        /* display: inline-flex; */
    }
    .img-thumb{
        height: 90px;
        width: 90px;
        margin-top: 1em;
        margin: 2em;
        /* padding: 1em; */
    }
    .thumb{
        height: 100px;
        width: 100px;
    }
    .h2-thumb {
    
        margin-left: 4em;
    }
    .h3-thumb {
         margin-top: 1em;
        margin-left: 5em;
    }
    .list-a {
        margin: 5em;

    }



}
@media screen and (width > 800px) {
    .show{
        width: 100%;
        display: inline-flex;
    }
    /* .img-thumb{
        height: 130px;
        width: 130px;
        margin-top: 3em;
        margin: 5em;
    }
    .thumb{
        height: 150px;
        width: 150px;
    } */
}