.theme-header {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    color: #333;
    letter-spacing: normal;
    line-height: 1.2;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.title {
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #003b4f;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3em;
}

/* .navy-thumb {
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    max-width: 800px;
    margin: 0 auto 40px;
    padding: 0 20px;
} */
/* 
.navy-thumb-ul {
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
} */

/* .navy-thumb-li {
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 20px 0;
    margin: 0;
} */

/* .row {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    

} */

/* .col-4 {
    list-style: none;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    max-width: 100%;
    flex: 0 0 auto;
    width: 100%;
} */
/* .img-responsive{

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    color: rgb(2, 139, 255);
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    font: inherit;
    border: 0;
    border-style: none;
    align-items: center;
    vertical-align: middle; 
     max-width: 100%;
    width: 100px;
    height: 10px;
} */

/* .col-12 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    max-width: 100%;

    flex: 0 0 auto;
    width: 100%;
} */

.col-h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    color: #333;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
} 

.col-h5 {
    list-style: none;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: #088199 !important;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
} 

.col-h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    color: #333;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
    font-size: 22px;
    font-weight: 700;
}

.col-p {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 0 18px 0;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}