.logo-container {
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    flex-direction: column;
    text-align: center;
    background-color: rgb(0, 42, 58);
    display: flex !important;
    margin: 0;
    padding: 5px;
}

.logo {
    text-align: center;
    color: rgb(2, 139, 255);
    box-sizing: border-box;
    padding: 0;
    font: inherit;
    border: 0;
    border-style: none;
    vertical-align: middle;
    margin: 0 auto;
    width: 160px;
    max-width: 100%;
}

.breadcrumbs-container {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.breadcrumbs {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-top: 11px;
    margin-bottom: 0;
    color: #fff;
}

.leadership {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background-color: transparent;
    text-decoration: underline;
    outline: 0;
    color: #fff;
}

.chevron-right {
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


.bio {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 3em;
    font-family: Roboto Slab, RobotoSlabLocal, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7em;
    color: #fff;
}

.bio-2 {
    letter-spacing: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #003b4f;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3em;
}
.content-fixed{
    margin-top: -2em;
}